{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2>Edition du commentaire</h2>
    <div class="form_comment">
        {{ form(form) }}
    </div>
{% endblock %}
