@import "accueil.css";
@import "article.css";
@import "registerLogin.css";
@import "profile.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

HTML {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background-color: #fcfcfc;
    font-family: Calibri, "sans-serif";
}

a {
    text-decoration-line: none;
    color: black;
}

.add {
    margin-left: 5%;
    font-weight: bold;
    text-shadow: 2px 2px 2px darkgray;
}

.add a:hover {
    color: #0c4a6e;
}
