{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2>{% trans %}Article edit{% endtrans %}</h2>
    <div class="form_article">
        {{ form(form) }}
    </div>
{% endblock %}